
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>SNESoIP server Installation</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Congratulations,</h2>
                    </div>
                    <div class="col-md-12">
                        <p>you can now login <a href="index.php" title="Homepage">here</a></p>
                    </div>
                </div>
