<!DOCTYPE html>
<html>
    <head>
        <title>SNESoIP Server</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="web/css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="web/css/main.css" rel="stylesheet">
        
        <script type="text/javascript" src="web/js/vendor/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>SNESoIP server Installation</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <h2>Congratulations,</h2>
                    </div>
                    <div class="col-md-12">
                        <p>you can now login <a href="index.php" title="Homepage">here</a></p>
                    </div>
                </div>

                <?php if(!$configFileWriteable):?>
                <div class="row">
                    <div class="col-md-12">
                        <h2>Warning</h2>
                    </div>
                    <div class="col-md-12">
                        <p class="text-warning">The configuration file could not be written automatically! <br/>
                            Please create a file called 'configuration.php' with the following content:</p>
                        <textarea id="configcontent">bla...</textarea>
                        <p class="text-warning">Delete the 'configuration.php' file if you want to run the installation again!</p>
                    </div>
                </div>
                <?php endif; ?>
            </div>
            
            <footer class="text-center">
                    <p>Visit the SNESoIP project repository on <a href="https://github.com/mupfelofen-de/SNESoIP">GitHub</a>.</p>
            </footer>
        </div>
    </body>
</html>
