
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>SNESoIP server Installation</h1>
                    </div>
                </div>
                
                <?php if(count($errors)): ?>
                <div class="row">
                    <?php foreach($errors as $key => $error): ?>
                    <div class="col-md-12">
                        <h3><?php echo $key;?></h3>
                        <p class="text-danger"><?php echo $error; ?></p>
                    </div>
                    <?php endforeach; ?>
                </div>
                <?php endif; ?>
                
                <form id="install" action="/install" method="post">
                    <fieldset>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h2>Database settings</h2>
                            </div>
                        </div>
                    
			<div class="row">
                            <div class="col-md-12">
                                <label for="dbHost">Host:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="dbHost" <?php if(isset($formData["dbHost"])): ?>value="<?php echo $formData["dbHost"]; ?>"<?php endif;?> autocomplete="off" autofocus required />
                            </div>
			</div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label for="dbPort">Port:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="dbPort" <?php if(isset($formData["dbPort"])): ?>value="<?php echo $formData["dbPort"]; ?>"<?php endif;?> autocomplete="off" autofocus required />
                            </div>
			</div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <label for="dbName">Name:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="dbName" <?php if(isset($formData["dbName"])): ?>value="<?php echo $formData["dbName"]; ?>"<?php endif;?> autocomplete="off" required />
                            </div>
			</div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <label for="dbUserName">Username:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="dbUserName" <?php if(isset($formData["dbUserName"])): ?>value="<?php echo $formData["dbUserName"]; ?>"<?php endif;?> autocomplete="off" required />
                            </div>
			</div>
                    
                        <div class="row">
                            <div class="col-md-12">
                                <label for="dbPassword">Password:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="dbPassword" <?php if(isset($formData["dbPassword"])): ?>value="<?php echo $formData["dbPassword"]; ?>"<?php endif;?> autocomplete="off" />
                            </div>
			</div>
                        
                    </fieldset>
                    
                    <fieldset>

			<div class="row">
                            <div class="col-md-12 text-center">
				<h2>Admin user</h2>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label for="adminName">Username:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="text" name="adminName" <?php if(isset($formData["adminName"])): ?>value="<?php echo $formData["adminName"]; ?>"<?php endif;?> autocomplete="off" required />
                            </div>
			</div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <label for="adminPassword">Password:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="adminPassword" <?php if(isset($formData["adminPassword"])): ?>value="<?php echo $formData["adminPassword"]; ?>"<?php endif;?> autocomplete="off" required />
                            </div>
			</div>
                        
                        <div class="row<?php echo isset($formErrors['adminPasswordVerify']) ? " error" : "";?>">
                            <div class="col-md-12">
                                <label for="adminPasswordVerify">Verify Password:</label>
                            </div>
                            <div class="col-md-12">
                                <input type="password" name="adminPasswordVerify" <?php if(isset($formData["adminPasswordVerify"])): ?>value="<?php echo $formData["adminPasswordVerify"]; ?>"<?php endif;?> autocomplete="off" required />
                            </div>
			</div>
                    </fieldset>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <input class="btn btn-danger btn-lg" type="submit" value="»&nbsp;&nbsp;Install" name="installWI" />
                        </div>
                    </div>
                </form>
